@import url('https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css');


.Home_Wrapper ,.Question_Wrapper {
  background-color: rgb(49, 79, 79);
  font-family: 'MabinogiClassic';
}

.Home_back {
  position: relative;
  top: 5%;
  background-color: white;
}